body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: #999999;
    line-height: 1.7;
    overflow-x: hidden;
    height: 100%;
    background: #1f1f1f;
}

.app {
    .sidebar {
        width: 30%;
        position: fixed; // Make the sidebar fixed
        height: 100vh;
        margin-top: 5%;
    }

    .content {
        width: 70%;
        margin-left: 30%;
        height: auto;
        padding: 0;

        section {
            height: 70vh;
            display: flex;
            align-items: center;
        }
    }
}