.web {
    margin: 20px;
    // margin-top: 50px;
    border: 1px solid #575757;
    border-radius: 20px;

    .edit-box {
        border-left: 3px solid #575757;

        h3 {
            margin: 30px 0;
            color: #cee73d;
        }

        label {
            margin-top: 10px;
        }

        img {
            width: 50%;
            display: block;
            margin: auto;
        }

        input,
        textarea {
            background-color: transparent;
            color: white;
            border: 1px solid #575757;
        }

        .item {
            border: 1px solid #575757;
            padding: 10px;
            border-radius: 15px;
        }

        p {

            font-size: larger;
            color: white;
        }
    }
}