.main-body {
    background-color: white;
    padding: 20px;
    display: block;
    margin: auto;
}

.main {
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 70%;
    height: 70vh;
    margin: auto;
    border-radius: 20px;
    padding: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-color: #f1f1f1cc;

    h1 {
        font-size: 60px;
        text-align: left;
        padding: 0;
        margin: 0;
        font-weight: 600;
        color: black;

        span {
            color: #3dace7;
        }
    }

    .main__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding: 0;
        min-height: 70%;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;

        a {
            text-decoration: none;
            color: inherit;
            border-radius: 30px;
        }

        .main__content__item {
            width: auto;
            height: 200px;
            border: 7px solid #3dace7;
            padding: 20px;
            border-radius: 30px;
            cursor: pointer;
            margin: 20px;

            h2 {
                color: black;
                font-size: 30px;
                letter-spacing: 0.5px;
                margin-top: 10px;
            }

            p {
                margin-top: 20px;
                color: rgb(122, 122, 122);
            }
        }

    }

    textarea {
        width: 300px;
        height: 100px;
        border-radius: 20px;
        border: 3px solid black;
        padding: 10px;
        margin: 10px;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
        color: white;
    }

    button {
        width: 200px;
        height: 50px;
        border-radius: 30px;
        border: none;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        background-color: #3dace7;
        color: white;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        margin: auto;
        display: block;
    }
}

.blocks {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;

    .input-block-left,
    .input-block-right {
        display: flex;
        flex-direction: column;
        float: left;
        align-items: left;
        margin-top: 20px;

        input {
            width: 400px;
            height: 40px;
            border-radius: 25px;
            border: 3px solid #3dace7;
            padding: 10px;
            margin: 10px;
            font-size: 20px;
            text-align: left;
            background-color: transparent;
            color: white;
        }

        label {
            color: black;
            font-weight: 700;
            margin-left: 20px;
            margin-top: 20px;
        }



    }


}