.portfolioPage2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: auto;
    height: auto;
    margin: 0;
    padding: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    // background: url("./background.jpg");
    background-size: cover;
    background-color: white;

    h1 {
        font-size: 60px;
        text-align: left;
        padding: 0;
        margin-bottom: 20px;
        font-weight: 600;
        color: black;

        span {
            color: #3dace7;
        }
    }

    .experience,
    .education {

        border: 2px solid #3dace7;
        border-radius: 15px;
        width: 80%;
        padding: 20px;
        margin: 20px;


        h2 {
            color: #3dace7;

        }

        a {
            #plusBtn {
                color: #3dace7;
                font-size: 50px;

            }
        }
    }
}