@import "../template.scss";

.resume {
    margin: auto;
    box-sizing: border-box;
    max-width: 770px;
    width: 70%;

    @include mobile {

        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    h3 {
        border: 1px solid #565656;
        font-size: 12px;
        font-weight: 300;
        border-radius: 30px;
        padding: 9px 20px;
        align-items: center;
        display: inline-flex;
        color: white;
        translate: 0px -20px;

        @include mobile {
            margin-bottom: 15px;
            translate: 0 0;
        }
    }

    h1 {
        font-size: 50px;
        letter-spacing: -0.2px;
        line-height: 50px;
        margin: 0;
        margin-bottom: 40px;
        font-weight: 300;
        color: white;

        @include mobile {
            font-size: 38px;
            line-height: 1.4;
            margin-top: 40px;
        }

        span {
            color: #ff99cc;
        }
    }

    .content {
        border-left: 1px solid #565656;
        width: 100%;
        height: auto;

        @include mobile {
            border-left: none;
        }
    }

    .item {
        transform: translate(50px, 0);
        line-height: normal;
        margin-bottom: 40px;

        @include mobile {
            transform: translate(0, 0);
        }

        h4 {
            margin: 10px 0 5px 0;
            color: #ff99cc;
            font-size: 15px;
        }

        p {
            margin: 0;
            font-size: 15px;
        }

        h2 {
            font-size: 25px;
            font-weight: 300;
            color: white;
            margin: 10px 0;

        }

    }


}