.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.description-image {
    height: auto;
    margin: 0;
}

.description-image img {
    width: 100%;
    height: 100%;
}

.description-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    position: relative;
}

.description-text-box h3 {
    font-size: 200px;
    position: absolute;
    top: -80px;
    left: -60px;
    margin: 0;
    opacity: 0.1;
}