.parallax-image {
    height: 50vh;
    width: 100%;

    img {
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

}