.parallax-image {
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


/* For tablets and small desktops */
@media (min-width: 768px) {
    .parallax-image {
        height: 400px;
    }
}

/* For medium desktops */
@media (min-width: 992px) {
    .parallax-image {
        height: 400px;
    }
}

/* For large desktops and TVs */
@media (min-width: 1200px) {
    .parallax-image {
        height: 300px;
    }
}