body {
    margin: 0;
    padding: 0;
}

.quote {
    padding: 40px 0;
}

.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: auto;
    margin: auto;
    text-align: center;
}


.quote-text p {
    line-height: 1.6em;
    font-size: 20px;
    font-style: italic;
}