@import "../template.scss";

.skills {
    margin: auto;
    box-sizing: border-box;
    max-width: 770px;
    width: 70%;

    @include mobile {
        width: 100%;
        height: auto;
    }

    h3 {
        border: 1px solid #565656;
        font-size: 12px;
        font-weight: 300;
        border-radius: 30px;
        padding: 9px 20px;
        align-items: center;
        display: inline-flex;
        color: white;
        translate: 0px -20px;
    }

    h1 {
        font-size: 50px;
        letter-spacing: -0.2px;
        line-height: 50px;
        margin: 0;
        margin-bottom: 40px;
        font-weight: 300;
        color: white;

        span {
            color: #ff99cc;
        }

        @include mobile {
            font-size: 38px;
            line-height: 1.4;
            margin-bottom: 20px;

        }
    }

}