@import "../../App.scss";

.home {
    margin: auto;
    box-sizing: border-box;
    max-width: 770px;
    width: 70%;

    @include mobile {
        width: 100%;
    }

    h3 {
        border: 1px solid #565656;
        font-size: 12px;
        font-weight: 300;
        border-radius: 30px;
        padding: 9px 20px;
        align-items: center;
        display: inline-flex;
        color: white;

        @include mobile {
            margin-bottom: 20px;
        }

    }



    h1 {
        font-size: 78px;
        letter-spacing: -0.2px;
        line-height: 90px;
        margin-bottom: 43px;
        font-weight: 300;
        color: white;

        @include mobile {
            font-size: 35px;
            line-height: 1.3;
            margin-top: 10px;
            margin-bottom: 0;
        }


        span {
            color: #ff99cc;
        }
    }



    p {
        @include mobile {
            line-height: 1.7;

        }
    }

    img {
        width: 50px;
        display: block;
        margin: auto;

        @include mobile {
            display: none;
        }
    }

    button {
        padding: 20px;
        border: none;
        background-color: #ff99cc;
        cursor: pointer;
        font-family: inherit;
        border-radius: 30px;
        color: black;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 10px;
        width: 40%;

        @include mobile {
            width: 100%;
        }

    }





}