.modal-dialog {

    .modal-content {
        background-color: white;
        border: 1px solid black;
        border-radius: 30px;
        color: black;

        .modal-body {

            input {
                width: 100%;
                border-radius: 30px;
                background-color: transparent;
                color: black;
                height: 50px;
                padding: 0 20px;
                outline: none;

            }

            a {
                cursor: pointer;
            }
        }

        .modal-footer {

            .btn {
                background-color: black;
                border: 1px solid #cee73d;
            }
        }
    }
}