.portfolio-body {
    .portfolio {
        font-family: 'Inter', sans-serif;
        padding: 80px;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 90%;
        margin: auto;

        h1 {
            font-size: 70px;
            color: #f7f6f6ee;
            font-weight: 500;

            span {
                color: #cee73d;
            }
        }

        Button {
            background-color: #cee73d;
            color: black;
            font-weight: 500;
            float: right;
        }
    }
}