.portfolio-body {
    background-color: white;
    padding: 20px;
}

.portfolioPage2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 70%;
    min-height: auto;
    margin: auto;
    border-radius: 20px;
    padding: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-color: #f1f1f1cc;

    h1 {
        font-size: 60px;
        text-align: left;
        padding: 0;
        margin-bottom: 20px;
        font-weight: 600;
        color: black;

        span {
            color: #3dace7;
        }
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0;
        float: left;

        .card {
            margin: 10px;
            margin-left: 0;

            .card-text {
                margin: 10px;
                margin-left: 0;
            }
        }
    }

}

.color-selector {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;

    .color-box {
        padding: 10px;
        border-radius: 50%;
        margin: 10px;
        font-size: 20px;
        width: 100px;
        height: 100px;
    }
}