.portfolio-body {
    .portfolio {
        font-family: 'Inter', sans-serif;

        overflow-x: hidden;
        overflow-y: hidden;
        width: 90%;
        margin: auto;

        h1 {
            font-size: 70px;
            color: #f7f6f6ee;
            font-weight: 500;

            span {
                color: #cee73d;
            }
        }

        Button {
            background-color: #cee73d;
            color: black;
            font-weight: 500;
            float: right;
        }

        Label {
            margin: 8px 0;
        }

        Input,
        textarea {
            width: 100%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 1px solid rgb(122, 122, 122);
            box-sizing: border-box;
            background-color: transparent;
            border-radius: 10px;
            color: white;


            &::placeholder {
                color: rgb(122, 122, 122);
            }
        }
    }
}